body{
    background-color: tan;
    margin: 0;
}

.topElements{
    text-align: center;
    color: darkorange;
    background-color: maroon;
    padding: 0.2em 1em 2em 1em;
    margin: 0;
}

h1{
    font-family: Segoe UI;
    font-weight: lighter;
    font-size: 350%
}

h3{
    font-family: Corbel;
    font-weight: lighter;
    font-style: italic;
}

.introText{
    font-family: Corbel;
    font-size: 120%;
    text-align: center;
    color: maroon;
    width: 60%;
    margin: auto;
}

#verbacle, #goodluck{
    font-weight: bold;
}

.startQuizButtons{
    text-align: center;
}

#easyModeButton{
    font-family: Corbel;
    font-weight: lighter;
    font-size: 200%;
    color: white;
    background-color: limegreen;
    border-style: none;
    border-radius: 0.2em 0.2em 0.2em 0.2em
}

#easyModeButton:hover{
    background-color: forestgreen;
}

#mediumModeButton{
    font-family: Corbel;
    font-weight: lighter;
    font-size: 200%;
    color: white;
    background-color: goldenrod;
    border-style: none;
    border-radius: 0.2em 0.2em 0.2em 0.2em
}

#mediumModeButton:hover{
    background-color: darkgoldenrod;
}

#hardModeButton{
    font-family: Corbel;
    font-weight: lighter;
    font-size: 200%;
    color: white;
    background-color: orangered;
    border-style: none;
    border-radius: 0.2em 0.2em 0.2em 0.2em
}

#hardModeButton:hover{
    background-color: darkred;
}

#questionBox{
    font-family: Corbel;
    text-align: center;
}

#timerContainer{
    font-family: Verdana;
    font-weight: bolder;
    font-size: large;
}