body{
    background-color: tan;
    margin: 0;
}

#topElements{
    text-align: center;
    color: darkorange;
    background-color: maroon;
    padding: 0.1em 1em 2em 1em;
    margin: 0;
}

h1{
    font-family: Segoe UI;
    font-weight: lighter;
    font-size: 350%
}

h3{
    font-family: Corbel;
    font-weight: lighter;
    font-style: italic;
}

.introText{
    font-family: Corbel;
    font-size: 120%;
    text-align: center;
    color: maroon;
    width: 60%;
    margin: auto;
}

#verbacle, #goodluck{
    font-weight: bold;
}

.startQuizBox{
    text-align: center;
}

#startButton{
    font-family: Corbel;
    font-weight: lighter;
    font-size: 200%;
    color: khaki;
    background-color: darkgoldenrod;
    border-style: none;
    border-radius: 0.2em 0.2em 0.2em 0.2em
}

#startButton:hover{
    color: white;
    background-color: goldenrod;
}

#questionBox{
    font-family: Corbel;
    text-align: center;
    color: khaki;
    width: 40%;
    background-color: darkgoldenrod;
    padding: 4em 2em 4em 2em;
    margin: 7.5em auto auto auto;
    border-style: none;
    border-radius: 2em 2em 2em 2em
}

#timerContainer{
    font-family: Verdana;
    font-weight: bolder;
    font-size: large;
}

#resultsBox{
    font-family: Corbel;
    text-align: center;
    color: darkorange;
    width: 30%;
    background-color: maroon;
    padding: 2em 0em 2em 0em;
    margin: 5em auto auto auto;
    vertical-align: middle;
    border-style: none;
    border-radius: 2em 2em 2em 2em
}